api/node_modules/
api/package-lock.json
api/.env
Dockerfile
.dockerignore
frontend/.angular
frontend/.vscode
frontend/node_modules
frontend/.editorconfig
frontend/.gitignore
frontend/package-lock.json